.table-select-control {
    display: flex;
    flex-direction: row;
    padding: 6px;

    .delete-button {
        left: 5px;
        top: 3px;
    }

    .description {
        padding: 6px;
    }
}