.icon {
    height: 40px;
    font-size: 20px;
}

.title-control {
    display: flex;
    justify-content: center;
}

.del-dataset-btn {
    top: 21px;
    left: 10px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}