.ant-layout {
  height: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  background: #d9d9d9;
  .spinner {
    max-width: 50%;
  }
}

.insights-drag-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.insights-container {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  .table-selection-drop-down-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5%;
    margin: 0 2px;

    .table-selection-drop-down {
      max-width: 50%;
      margin: 0 2px;
    }
  }
  .data-table {
    //height: 40%;
  }

  .insight-charts-container {
    flex-grow: 1;

    .insight-charts-title {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 20px;
    }

    .insight-charts {
      margin-left: 5px;
      margin-right: 5px;


      .charts{
        height: calc(100vh - 410px);
      }
    }

    .ant-tabs-tab, .ant-tabs-tab-active {
      font-weight: 500;
      font-size: 105%;
    }

    .ant-tabs-tab-active {
      color: rgba(0, 0, 0, 0.65);
      margin: 2px;
      background-color: white;
      border-radius: 5px;
      border-right: none;
      -moz-box-shadow: 0 0 5px #d9d9d9;
      -webkit-box-shadow: 0 0 5px #d9d9d9;
      box-shadow: 0 0 5px #d9d9d9;
    }
  }
}