.ant-layout {
  height: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  background: #d9d9d9;
  .spinner {
    max-width: 50%;
  }
}

.insights-drag-drop {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.insights-container {
  overflow: hidden;
  height: 100%;


  .table-selection-drop-down {
    margin: 10px;
    text-align: center;
  }
  .data-table {
    height: 50%;
  }
  .insight-charts {
    height: 40%;
  }
}