.ant-layout {
  height: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  background: #d9d9d9;
  .spinner {
    max-width: 50%;
  }
}

.insights-drag-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.insights-container {
  .table-selection-drop-down-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5%;
    margin: 0 2px;

    .table-selection-drop-down{
      max-width: 50%;
      margin: 0 2px;
    }
  }
  .data-table {
    height: 40%;
  }
  .insight-charts {

  }
}